name: Build MDWiki-ng

on:
  # Trigger the workflow every time a tag with the format v[0-9] is
  # pushed to the repo
  push:
    tags:
      - v[0-9]*
  # Allows you to run this workflow manually from the Actions tab on GitHub.
  workflow_dispatch:

# Allow this job to clone the repo and create a page deployment
permissions:
  contents: write
  id-token: write

jobs:
  build:
    name: Build MDWiki and upload artifact
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.tag.outputs.tag }}
      tag_body: ${{ steps.get_tag_Body.outputs.tag_body }}

    steps:
    - name: Check out your repository using git
      uses: actions/checkout@v6

    - name: Get Tag
      id: tag
      #run: echo ::set-output name=tag::${GITHUB_REF#refs/*/}
      #run: echo "tag=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT
      run: echo "tag=${{ github.ref_name }}" >> $GITHUB_OUTPUT
    - name: Check Tag
      run: |
        echo ${{ steps.tag.outputs.tag }}

    - name: Get Tag Body
      id: get_tag_Body
      #run: echo "tag_body=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT
      shell: bash
      run: |
        # Use git tag -l with format to get the full contents (body)
        TAG_BODY=$(git tag -l --format='%(contents)' "${{ steps.tag.outputs.tag }}"))
        # Set the tag body as a step output
        echo "tag_body<<EOF" >> $GITHUB_OUTPUT
        echo "$TAG_BODY" >> $GITHUB_OUTPUT
        echo "EOF" >> $GITHUB_OUTPUT

    - name: Check Tag Body
      run: |
        echo ${{ steps.get_tag_Body.outputs.tag_body }}

    - name: Use Node.js (.nvmrc version)
      uses: actions/setup-node@v6
      with:
        #node-version: 'lts/krypton'
        node-version-file: '.nvmrc'
        cache: 'npm'

    # Not using npm? Change `npm ci` to `yarn install` or `pnpm i`
    - name: Install dependencies
      run: npm ci

    # Not using npm? Change `npm run build` to `yarn build` or `pnpm run build`
    - name: Build MDWiki-ng
      run: ./build.sh

    # Upload the index.html artifact for use later
    - name: Save index.html artifact
      uses: actions/upload-artifact@v4
      with:
        name: mdwiki-output
        path: dist/index.html
        if-no-files-found: error

  CreateRelease:
    name: Create GitHub Release
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Download mdwiki-output artifact
      id: download
      uses: actions/download-artifact@v4
      with:
        name: mdwiki-output

    - name: Show downloaded artifact
      run: ls -R

    - name: Create draft release
      env:
        GH_TOKEN: ${{ github.token }}
        GH_REPO: ${{ github.repository }}
      run: |
        tag="${{ needs.build.outputs.tag }}"
        body="${{ needs.build.outputs.tag_body }}"
        gh release create --draft "$tag" --title "$tag" --notes "$body"

    - name: Upload output to release
      env:
        GH_TOKEN: ${{ github.token }}
        GH_REPO: ${{ github.repository }}
      run:
        gh release upload "${{ needs.build.outputs.tag }}" "index.html"

    - name: Publish release
      env:
        GH_TOKEN: ${{ github.token }}
        GH_REPO: ${{ github.repository }}
      run:
        gh release edit "${{ needs.build.outputs.tag }}" --draft=false

    #- name: Create Release With Asset
    #  id: Release-AIO
    #  uses: Hs1r1us/Release-AIO@v2.0.0
    #  env:
    #    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    #  with:
    #    tag_name: ${{needs.build.outputs.tag }}
    #    asset_files: index.html
